Source: erc
Section: net
Priority: optional
Maintainer: Mario Lang <mlang@debian.org>
Standards-Version: 3.5.7

Package: erc
Architecture: all
Depends: make, emacs21 | xemacs21
Suggests: speedbar, bbdb, emacspeak
Recommends: emacs-chess
Replaces: erc-speak
Conflicts: erc-speak
Description: an Emacs IRC client
 This package contains ERC, an advanced IRC client for Emacsen.
 It supports multiple channel-buffers, nick completion, keyword
 highlighting, and so on.
