Source: erc
Section: net
Priority: optional
Maintainer: Michael W. Olson (GNU address) <mwolson@gnu.org>
Uploaders: Mario Lang <mlang@debian.org>, Romain Francoise <rfrancoise@debian.org>
Standards-Version: 3.6.2

Package: erc
Architecture: all
Depends: make, emacs21 | xemacs21 | emacsen
Suggests: speedbar, bbdb, emacspeak
Recommends: emacs-chess
Replaces: erc-speak
Conflicts: erc-speak
Description: an Emacs IRC client
 This package contains ERC, an advanced IRC client for Emacsen.
 It supports multiple channel-buffers, nick completion, keyword
 highlighting, and so on.
